.skills-main-div {
  display: flex;
  margin-bottom: 15px; /* Reduced margin */
}

.skills-text-div {
  margin-left: 50px;
  margin-top: 1.5%; /* Reduced margin */
  padding-top: 40px; /* Reduced padding */
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 15px; /* Reduced margin */
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 75px; /* Reduced margin */
}

.skills-heading {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Google Sans Regular";
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 10px; /* Reduced margin */
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px; /* Removed margin */
  }
}.skills-header-div {
  display: flex;
  justify-content: center; /* Center the header horizontally */
  align-items: center; /* Center the header vertically if needed */
  text-align: center;
  margin-bottom: 20px; /* Adjust the spacing below the header */
}

.skills-header {
  font-size: 36px; /* Adjusted font size to be smaller */
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-top: 0px;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-header {
    font-size: 32px; /* Smaller size for medium screens */
  }
}

@media (max-width: 768px) {
  .skills-header {
    font-size: 28px; /* Even smaller size for small screens */
  }
}

